.menuformobile {
    margin: auto 0.85rem auto 0.85rem;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #121212;

    img {
        margin-left: 15px;
        width: 18px !important;
    }
}

.overlayformobile {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #1F1F1F;
    overflow-y: hidden;
    transition: 0.23s;

    .overlay-nav-formobile {
        display: flex;
        justify-content: center;
        gap: 45rem;
        margin-top: 2.25rem;

        img {
            width: 100px;
        }

        a {
            height: 31.3px;
        }
    }

    .overlay-content-formobile {
        position: relative;
        width: 100%;
        margin: auto auto auto auto;

        .containerformobile {
            display: flex;
            justify-content: center;
            align-items: center;

            .parentformobile {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 7rem;
                grid-row-gap: 0px;

                h2 {
                    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
                }

                .div1formobile,
                .div2formobile,
                .div3formobile,
                .div4formobile,
                .div5formobile,
                .div6formobile {
                    &:before {
                        position: absolute;
                        left: -40px;
                        color: #F4C519;
                    }
                }

                .div1formobile {
                    grid-area: 1 / 1 / 3 / 2;
                    position: relative;

                    &:before {
                        content: url(../../assets/movies-menu.svg);
                    }
                }

                .div2formobile {
                    grid-area: 4 / 1 / 5 / 2;
                    position: relative;

                    &:before {
                        content: url(../../assets/celebs-menu.svg);
                    }
                }

                .div3formobile {
                    grid-area: 1 / 2 / 3 / 3;
                    position: relative;

                    &:before {
                        content: url(../../assets/tv-shows-menu.svg);
                    }
                }

                .div4formobile {
                    grid-area: 3 / 2 / 4 / 3;
                    position: relative;

                    &:before {
                        content: url(../../assets/watch.svg);

                    }
                }

                .div5formobile {
                    grid-area: 1 / 3 / 3 / 4;
                    position: relative;

                    &:before {
                        content: url(../../assets/awards&events.svg);
                    }
                }

                .div6formobile {
                    grid-area: 4 / 3 / 5 / 4;
                    position: relative;

                    &:before {
                        content: url(../../assets/community.svg);
                    }
                }

                .div1formobile,
                .div3formobile,
                .div5formobile {
                    margin-top: 2rem;
                }

                .div2formobile,
                .div4formobile,
                .div6formobile {
                    margin-top: -2rem;
                }

                li {
                    margin-top: 1rem;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .closebtnformobile {
        color: #000000;
        background-color: #F4C519;
        font-size: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
            background-color: #E1B517;
        }

        &:active {
            background-color: #997B14;
        }
    }
}

@media only screen and (min-width: 950px) {
    #menuformobile {
        display: none;
    }
}