#container {
  display: inline-flex;
  border-radius: 9px 9px 9px 9px;
  .option {
    display: flex;
    align-items: center;
    .option:hover .iconWhite svg{
      fill: #FFFFFF;
    }
    .iconYellow svg{
      fill: #F4C519;
    }
    .icon {
      width: 30px;
      margin-top: 5px;
      margin-right: 1rem;
    }
  }

  #searchbar {
    height: 38px;
    display: inline-flex;
  
    #searchInput {
      min-width: 25rem;
      height: 38px;
      background-color: #FFFFFF;
      color: #000000;
      padding-left: 0.5rem;
      &::placeholder {
        font-size: 15px;
      }
    }
  
    #searchButton {
      margin: auto 0 auto 0;
      border-radius: 0 7px 7px 0;
      background-color: #FFFFFF;
      color: #000000;
      height: 38px;
      cursor: pointer; 
      &:before {
        padding: 10px;
        content: url(../../assets/magnifying-glass.svg);
      }
    }
  }
}