.yellowbutton {
    background-color: #F4C519 !important;
    color: #000000;
    width: 15rem;
    min-height: 2.5rem !important;
    padding: 0 0.5rem 0 0;
    place-self: center;
    &:hover {
        background-color: #E1B517 !important;
        cursor: pointer;
    }
}