@font-face {
    font-family: "Roboto";
    src: url(../Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(../Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto Light";
    src: url(../Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto Thin";
    src: url(../Roboto-Thin.ttf);
}


html {
    scroll-behavior: smooth;
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    user-select: none;
}

nav {
    height: 3.5rem;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu, .IMDbProMenu, .watchlist, .signin {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #121212;
        height: 32px;
        border-radius: 7px;
    
        &:hover {
            background-color: #252525;
        }
    
        #icon {
            width: 25px;
        }
    
        p {
            margin-left: 0.5rem;
            font-size: 14px;
            font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
            font-weight: 600;
        }
    }
}

footer {
    bottom: 0;
    text-align: center;
}

