@font-face {
  font-family: "Roboto";
  src: url(../Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(../Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto Thin";
  src: url(../Roboto-Thin.ttf);
}
html {
  scroll-behavior: smooth;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
}
.App button {
  cursor: pointer;
}
.App .menubutton,
.App .IMDbProMenu,
.App .watchlist,
.App .signin,
.App .yellowbuttonbigger,
.App .yellowbuttonsmaller {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 2rem;
  border-radius: 7px;
}
.App .menubutton:hover,
.App .IMDbProMenu:hover,
.App .watchlist:hover,
.App .signin:hover,
.App .yellowbuttonbigger:hover,
.App .yellowbuttonsmaller:hover {
  background-color: #252525;
}
.App .menubutton #icon,
.App .IMDbProMenu #icon,
.App .watchlist #icon,
.App .signin #icon,
.App .yellowbuttonbigger #icon,
.App .yellowbuttonsmaller #icon {
  width: 25px;
}
.App .menubutton p,
.App .IMDbProMenu p,
.App .watchlist p,
.App .signin p,
.App .yellowbuttonbigger p,
.App .yellowbuttonsmaller p {
  margin-left: 0.5rem;
  font-size: 14px;
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.App .yellowbuttonsmaller {
  min-width: 5rem;
}
.App .slider {
  width: 75vw;
}
.App .slider:hover .slick-prev {
  display: flex;
}
@media only screen and (max-width: 1300px) {
  .App .slider {
    width: 92vw;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 1200px) {
  .App .slider {
    width: 92vw;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 1100px) {
  .App .slider {
    width: 93vw;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 950px) {
  .App .slider {
    width: 95vw;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .App .slider {
    width: 90vw;
    margin-top: -2rem;
    margin-bottom: -5rem;
  }
}
@media only screen and (max-width: 600px) {
  .App .slider {
    width: 95vw;
    margin-left: -0.5rem;
    margin-top: -3rem;
    margin-bottom: -4rem;
  }
}
@media only screen and (max-width: 600px) {
  .App .slider {
    width: 100vw;
    margin-left: -0.5rem;
    margin-top: -3rem;
    margin-bottom: -4rem;
  }
}
.App .section h2 {
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #F4C519;
  margin-top: 2.5rem;
  margin-bottom: 2.25rem;
}
@media only screen and (max-width: 600px) {
  .App .section h2 {
    margin-left: 1.5rem;
  }
}
.App .section .category {
  margin-bottom: 4rem;
}
.App .section .category .category-heading {
  cursor: pointer;
  width: fit-content;
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 10px;
}
.App .section .category .category-heading h3 {
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  position: relative;
}
.App .section .category .category-heading h3::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0.15px;
  display: block;
  width: 4.5px;
  height: 32px;
  border-radius: 5px;
  background-color: #F4C519;
}
.App .section .category .category-heading .next {
  fill: #FFFFFF;
  transform: scale(0.85);
  width: fit-content;
  margin-left: 8px;
}
.App .section .category .category-heading:hover .next {
  fill: #F4C519;
}
.App .section .category .category-subheading {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .App .section .category {
    margin-left: 1.5rem;
  }
}
.App nav {
  height: 3.5rem;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App main {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App footer {
  margin-top: auto;
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=App.css.map */